@using BlazorApp1.Services;
@inject OrderService orderService;
@inject CustomerService customerService;
@inject NavigationManager navigator;
@inject DeliveryService deliveryService;

<tr>
    <td align="center"><a href="">@deliveryObj.idOrder</a></td>
    <td>@yCustomer.FirstName</td>
    <td>@deliveryObj.zipcode</td>
    <td>@deliveryObj.dateCreated.ToString("MM/dd/yyyy")</td>
    <!--    <td>@(deliveryObj.dateShipped != null ? deliveryObj.dateShipped : "")</td>-->
    <td>@deliveryObj.dateShipped?.ToString("MM/dd/yyyy")</td>
    <td>@deliveryObj.dateDelivered?.ToString("MM/dd/yyyy")</td>
    <td>@deliveryObj.idDriver</td>
    <td align="center">@deliveryObj.idDeliveryStatus</td>
    <td align="center">
        <a href=""><img src="icons/icon_edit_blue.png" width="16" height="16"></a>&nbsp
        <a @onclick="Edit"><img src="icons/icon_delete_red.png" width="16" height="16"></a>
    </td>
</tr> 

@code
{
    [Parameter]
    public Delivery deliveryObj { get; set; }

    public Customer yCustomer;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        yCustomerName();
    }

    public void yCustomerName() {
        yCustomer = customerService.GetById(1);
    }

    public void Edit()
    {
        //navigator.NavigateTo($"edit-order/{order.idOrder}");
    }
}

