<tr>
    <td><a href="edit-driver/@driverObj.idDriver">@driverObj.firstName</a></td>
    <td><a href="edit-driver/@driverObj.idDriver">@driverObj.lastName</a></td>
    <td align="right">@driverObj.phoneNumber</td>
    <td>@driverObj.email</td>
    <td>@driverObj.driverLicense</td>
    <td>@driverObj.address</td>
    <td>@driverObj.zipcode</td>
    <td>@driverObj.vehicleVIN</td>

    <td align="center">
        <a href="edit-driver/@driverObj.idDriver"><img src="icons/icon_edit_blue.png" width="16" height="16"></a>&nbsp
        <a @onclick="delete"><img src="icons/icon_delete_red.png" width="16" height="16"></a>
    </td>
</tr> 


@code
{
    [Parameter]
    public Driver driverObj { get; set; }

    [Parameter]
    public EventCallback<int> deleteParam { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    public void delete()
    {
        deleteParam.InvokeAsync(driverObj.idDriver);
    }
}
